<%include modular/header%>
<section class="section container-fluid text-center">
	<h3>¡Activación completada!</h3>
	<p>Ya puedes iniciar sesión. ¡Feliz votación!</p>
</section>
<% include modular/footer %>