<%include modular/header%>
<section class="section container-fluid text-center error">
    <h3>Se ha producido un error activando tu cuenta</h3>
    <p>Si hace mucho tiempo que te registraste, quizá deberías volver a hacerlo. En cualquier otro caso, prueba más tarde</p>
</section>
<% include modular/footer %>