<%include modular/header%>

<div class="container-fluid" ng-controller="detalleAsignaturaController" ng-init="init('<%= JSON.stringify(asignatura) %>')">
    <section class="section container-fluid text-center">
        <h2>{{asignatura.codigo}} - {{asignatura.nombre}}</h2>
        <h4><a href="/carreras/{{asignatura.carrera._id}}">{{asignatura.carrera.nombre}}</a> - <a href="/universidades/{{asignatura.universidad._id}}">{{asignatura.universidad.nombre}}</a></h4>
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-md-3 col-lg-3">
                <div class="asignaturas-impartidas list-group">
                    <a class="list-group-item active" ng-click="refrescaGrafica($event, -1)">Resultado total</a>
                    <a class="list-group-item" ng-repeat="profesor in asignatura.profesores track by $index" ng-click="refrescaGrafica($event, $index)">{{profesor.nombre}}</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Calificación - {{datos_grafica.nota | number: 2}}</h3>
                    </div>
                    <div class="chart-container">
                        <canvas id="resultados-asignatura"></canvas>
                    </div>
                    <p class="text-center">{{datos_grafica.txt_num_votos}}</p>
                    <a href="/profesores/{{profesor_seleccionado._id}}" ng-hide="!profesor_seleccionado.con_resultados">Ver en detalle</a>
                </div>
            </div>
        </div>
    </section>
</div>

<%include modular/footer%>