		<footer class="footer">
			<div class="container">
				<div class="row row-no-margin">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
						<div class="row row-no-margin">
							<h4>Sobre nosotros</h4>
						</div>
						<div class="row row-no-margin">
							<a href="#">Quienes somos</a><br>
							<a href="#">Contacto</a>
						</div>
					</div>
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
						<div class="row row-no-margin">
							<h4>En redes sociales</h4>
						</div>
						<div class="row row-no-margin">
							<a href="#">Facebook</a>
							<a href="#">Twitter</a>
						</div>
					</div>
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
						<div class="row row-no-margin">
							<h4>Suscribete a nuestro newsletter</h4>
						</div>
						<div class="row row-no-margin">
							<input type="text" placeholder="Tú email...">
							<button>Suscribirme</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Include Scripts-->
		<!-- Jquery Script-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Angular -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<!-- Angular messages -->
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.7/angular-messages.min.js"></script>
		<!-- Angular ui bootstrap-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
		<!-- Charts.js -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js' crossorigin="anonymous"></script>
		<!-- Twitter typeahead.js -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js'></script>
	  	<!-- Controladores propios -->
		<script type="text/javascript" src="/javascripts/controllers/inicioController.js"></script>
		<script type="text/javascript" src="/javascripts/controllers/registroController.js"></script>
		<script type="text/javascript" src="/javascripts/controllers/calificarController.js"></script>
		<script type="text/javascript" src="/javascripts/controllers/detalleProfesorController.js"></script>
	</body>
</html>
