<%include modular/header%>
<!--Contenido-->
<div class="container-fluid" ng-controller="inicioController" ng-init="init()">
	<section id="buscador" class="buscador section offset-header">
		<div class="container text-center">
			<label for="campo-buscar">Encuentra tu universidad, carrera o profesor</label>
			<div class="form-group row">
                <div class="input-group">
				<input
                        type="text"
                        ng-model="texto_buscar"
                        placeholder="Ej: Universidad de Murcia, Domingo Gallardo..."
                        uib-typeahead="resultado for resultado in buscar($viewValue)"
                        typeahead-loading="loadingLocations"
                        typeahead-no-results="noResults"
						ng-model-options="{debounce: 300}"
                        class="form-control">
                    <div class="input-group-btn">
                        <button class="btn btn-default">Hola</button>
                    </div>
                </div>
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
					<i class="glyphicon glyphicon-remove"></i> No Results Found
				</div>
				<!--<input
						type="text"
						id="campo-buscar"
						class="typeahead form-control col-9"
						aria-describedby="icon-search"
						placeholder="Ej: Universidad de Murcia, Domingo Gallardo..."
						ng-model="texto_buscar"
						ng-model-options="{debounce: 300}"
						ng-change="buscar()"/>-->
			</div>
		</div>
		<div class="divider-black"></div>
	</section>
	<section id="top-five-uni-esp" class="top-five-uni-esp section container-fluid">
		<h2>Las 5 universidades mejor valoradas</h2>
		<div class="chart-container col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<canvas id="ranking-universidades"></canvas>
		</div>
	</section>
	<section id="top-five-profesores-esp" class="top-five-profesores-esp section container-fluid">
		<h2>Los 5 profesores mejor valorados</h2>
		<div class="chart-container col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<canvas id="ranking-profesores" ></canvas>
		</div>
	</section>
</div>
<% include modular/footer %>