<%include modular/header%>

<div class="container" ng-controller="detalleProfesorController" ng-init="init('<%= JSON.stringify(profesor) %>')" ng-cloak>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="datos-profesor thumbnail">
                    <div class="caption text-center">
                        <h3>{{profesor.nombre}}</h3>
                    </div>
                    <img ng-src="{{profesor.avatar}}" alt="Foto de {{profesor.nombre}}" class="img-responsive img-rounded">
                    <div class="caption text-center">
                        <p>
                            <img src="/images/glyphicons/punto-fuerte.png" alt="Su punto fuerte"> {{profesor.punto_fuerte}}
                        </p>
                        <p>
                            <img src="/images/glyphicons/punto-debil.png" alt="Su punto debil"> {{profesor.punto_debil}}
                        </p>
                    </div>
                    <div class="caption">
                        <p class="text-center">
                            <a class="btn btn-primary" href="/profesores/{{profesor._id}}/calificar">Calificar</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Calificación global - {{profesor.nota | number : 2}}</h3>
                    </div>
                    <div class="chart-container">
                        <canvas class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="resultado-global"></canvas>
                    </div>
                    <p class="text-center">Ha sido votado {{profesor.num_votos}} veces</p>
                </div>
            </div>
        </div>
    </section>
    <section id="estadisticas-por-asignatura" class="container">
        <h3>Asignaturas que imparte</h3>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="asignaturas-impartidas list-group">
                    <a class="list-group-item" ng-repeat="datos_asignatura in profesor.notas_asignaturas_prof track by $index" ng-click="refrescaGrafica($event, $index)">{{datos_asignatura.asignatura.codigo}} - {{datos_asignatura.asignatura.nombre}}</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" ng-hide="profesor_sin_votos">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Calificación {{asignatura_seleccionada.codigo}} - {{asignatura_seleccionada.nota | number: 2}}</h3>
                    </div>
                    <div class="chart-container">
                        <canvas id="resultado-asignatura"></canvas>
                    </div>
                    <p class="text-center">{{asignatura_seleccionada.num_votos}} votos</p>
                    <p class="text-center">
                        <a class="text-center" href="/asignaturas/{{asignatura_seleccionada._id}}">Ver asignatura</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<% include modular/footer %>