<%include modular/header%>
<section class="section container-fluid text-center error">
    <h3>Se ha producido un error en la recuperación de tu cuenta</h3>
    <p>Probablemente se deba a que el enlace con el que has accedido ha expirado. Prueba a solicitar otro correo de recuperación.</p>
</section>
<% include modular/footer %>