<%include modular/header%>
<section class="section container-fluid text-center">
    <h3>¡Contraseña cambiada correctamente!</h3>
    <p>Ya puedes acceder con tu nueva contraseña desde la pantalla de login.</p>
</section>
<% include modular/footer %>