<%include modular/header%>
<section class="section container-fluid text-center">
	<h3>¡Registro completado!</h3>
	<p>En breves recibirás un correo para confirmar tu cuenta.</p>
</section>
<% include modular/footer %>