<%include modular/header%>

<div class="container-fluid" ng-controller="detalleUniversidadController" ng-init="init('<%= JSON.stringify(universidad) %>')">
    <div class="container-fluid text-center carrera-header" ng-style="{'background-image':'url('+universidad.img+')'}">
        <h2 class="vcenter">{{universidad.nombre}}</h2>
    </div>
    <div class="divider-black"></div>
    <section class="section container-fluid">
        <h2>Las carreras mejor valoradas de ésta universidad</h2>
        <div class="chart-container col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <canvas id="ranking-carreras"></canvas>
        </div>
    </section>
    <div class="divider-black"></div>
    <section class="section container-fluid">
        <h2>Los profesores mejor valorados de ésta universidad</h2>
        <div class="chart-container col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <canvas id="ranking-profesores"></canvas>
        </div>
    </section>
</div>
<div class="divider-black"></div>
<%include modular/footer%>